{% extends "base.html" %}

{% block page %}

<!-- data-module references resource config I think -->
  <div data-module="stability_phase_diagram_view"
       data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
       data-module-pd-resource-id = "{{ pd_resource_id }}"
       data-module-dfe-resource-id = "{{ dfe_resource_id }}"
       data-module-package-id = "{{ package_id }}"
       data-module-element-config-data = "{{ element_config_data }}"
       data-module-pd-params = "{{ pd_params }}"
       data-module-dfe-params = "{{ dfe_params }}"
       data-module-resource = "{{ h.dump_json(resource_json) }}"
       data-module-resource-view = "{{ h.dump_json(resource_view_json) }}"
       >
     <form id="pd-elements">
       <select id="pd-material-type">
       </select>
       <!-- Which elements, and number of each element to use, like 1 drop down for III chemicals, then once selected, dropdown for the num, then dropdown for VI chems, then number etc.-->
       <span id="pd-element-selects"> </span>
       <select id="pd-property">
       </select>
       <button>Go</button>
       <span id="pd-elements-msg"></span>
     </form>
     <input type="checkbox" id="only_relevant_dfe" name="only_relevant_dfe" checked>Only show defect formation energies if in relevant region</input>
     <div id="pd-dfe">
        <div id="phase-diagram"></div>
        <div id="defect-formation-energy-diagram"> </div>
    </div>
  </div>

{# includes all the stuff in the 'main' section of resource.config? #}
    {# ckanext-spdview reference is from toolkit.add_resource #}
  {% resource 'ckanext-spdview/main' %}
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}
