{% extends "base.html" %}

{% block page %}

<!-- data-module references resource config I think -->
  <div data-module="stability_phase_diagram_view"
       data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
       data-module-pd-resource-id = "{{ pd_resource_id }}"
       data-module-dfe-resource-id = "{{ dfe_resource_id }}"
       data-module-element-data = "{{ element_data }}"
       data-module-pd-params = "{{ pd_params }}"
       data-module-dfe-params = "{{ dfe_params }}"
       data-module-resource = "{{ h.dump_json(resource_json) }}"
       data-module-resource-view = "{{ h.dump_json(resource_view_json) }}"
       >
     <div>
       <select id="pd-material-type">
         <option value="chalcopyrite">Chalcopyrite</option>
       </select>
       <!-- Which elements, and number of each element to use, like 1 drop down for III chemicals, then once selected, dropdown for the num, then dropdown for VI chems, then number etc.-->
       <div id="pd-element-selects">
       </div>
       <select id="pd-property">
         <option value="formation_energy">Formation Energy</option>
       </select>
     </div>
     <div id="pd-dfe">
        <div id="phase-diagram"></div>
        <div id="defect-formation-energy-diagram">
            <div id="dfe-labels"></div>
        </div>
    </div>
  </div>

{# includes all the stuff in the 'main' section of resource.config? #}
    {# ckanext-spdview reference is from toolkit.add_resource #}
  {% resource 'ckanext-spdview/main' %}
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}
