# http://docs.ckan.org/en/ckan-2.7.2/contributing/frontend/resources.html

[depends]

main = vendor/d3.v4.js

[groups]

main =

    vendor/stability_phase_diagram/phase_diagram.js
    vendor/stability_phase_diagram/defect_formation_energy_diagram.js

    element_selects.js
    stability_phase_diagram_view.js

    vendor/stability_phase_diagram/pd_dfe.css
